@media only screen and (max-width: 750px) {

  /* Navegación en la parte inferior de la web */
  header {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #open-SideBar-btn {
    display: block;
    backdrop-filter: blur(10px);
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 20px;
    width: 50px;
    position: fixed;
    right: 0;
    z-index: 100;
  }

  nav {
    position: fixed;
    bottom: -100%;
    right: 0;
    height: 50dvh;
    width: min(20em, 100%);
    border: 1px solid white;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border-radius: 12px;
    transition: bottom 400ms ease-out;
    z-index: 100;
  }

  nav.show {
    bottom: 25%;
    height: auto;
    padding: 10px;
  }

  nav.show~#overlay {
    display: block;
  }

  nav ul {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  nav a {
    width: 200px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: transparent;
  }

  .texto-oculto {
    display: flex;
    position: absolute;
    left: 0;
    background-color: transparent;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 50px;
    z-index: 1;
  }

  #miIcono {
    font-size: 1.35rem;
  }

  #close-SideBar-btn {
    display: flex;
    position: relative;
    right: 150%;
  }


  .boxTitleContacto {
    width: 100%;
    height: auto;
    padding: 40px 40px 20px 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .etiquetaContacto {
    width: auto;
    height: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--primerColor);
    border-left: 2px solid var(--primerColor);
    background-color: var(--texColor-two);
    font-weight: lighter;
    font-size: medium;
    border-radius: 12px;
    box-shadow: -7px 8px 10px 7px var(--primerColor);
    transition: 0.5s all;
    gap: 10px;
  }

  .etiquetaContacto h2 {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
  }

  .etiquetaContacto i {
    font-size: 1.6rem;
  }

}

/* tablets */
@media only screen and (min-width: 751px) and (max-width: 1020px) {
  nav a {
    font-size: 1.6dvb;
  }
}

/* pantallas de mayor resolucion */
@media only screen and (min-width: 1021px) and (max-width: 3000px) {
  nav a {
    font-size: 1.6dvb;
  }
}