@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
  --primerColor: #D96F32;
  --segundoColor: #273F4F;
  --textColor-one: black;
  --texColor-two: white;
  --fondo-welcome: #d1a980c6;
  --white: #fff;
  --white-two: #f3e9dc9b;
  --bgNav: #555879;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
body{
  background-color: var(--bgNav);
}

/* acces */
.skip-link {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
  background: var(--primerColor);
  color: var(--texColor-two);
  padding: 12px 24px;
  border-radius: 12px;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  transition: opacity 0.3s ease;
}

.skip-link:focus {
  opacity: 1;
  pointer-events: auto;
  outline: 3px solid white;
}

/* NavBar fijada en la parte inferior de la pagina */
header {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  right: 0;
}

nav {
  width: auto;
  background-color: var(--bgNav);
  backdrop-filter: blur(10px);
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  border-radius: 15px;
  z-index: 10;
  border: 1px solid var(--white-two);
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

nav li {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 10px;
}
.active-link{
  background-color: var(--primerColor);
}

nav a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 12px;
  height: 40px;
  color: var(--white);
}
nav a:hover{
  background-color: var(--primerColor);
  border-radius: 12px;
}

.texto-oculto {
  display: none;
  position: absolute;
  right: 0;
  background-color: var(--primerColor);
  color: white;
  padding: 10px;
  border-radius: 5px;
  white-space: nowrap;
  z-index: 1;
}
#miIcono{
  font-size: 1rem;
}
#miIcono:hover+.texto-oculto {
  display: flex;
  right: 35px;
}

#open-SideBar-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

#open-SideBar-btn i {
  color: var(--primerColor);
  font-size: 6dvb;
}

#close-SideBar-btn {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

#overlay {
  background: rgb(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  z-index: 9;
  display: none;
}

/* CONTENIDO */
main {
  width: 100%;
  height: auto;
  color: var(--segundoColor);
  background-image: url(../../src/img/programacion-eventos/fondo-eventos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.titleProgramacion{
  width: 100%;
  height: auto;
  padding: 50px 100px 20px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.etiquetaProgramcion {
  width: auto;
  height: auto;
  padding: 5px;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid var(--primerColor);
  border-left: 2px solid var(--primerColor);
  background-color: var(--texColor-two);
  font-weight: lighter;
  font-size: medium;
  border-radius: 12px;
  box-shadow: -7px 8px 10px 7px var(--primerColor);
  transition: 0.5s all;
  gap: 10px;
}
.etiquetaProgramcion h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}
.titleProgramacion i{
  font-size: 2rem;
}


.boxGlobal {
  width: 100%;
  height: auto;
  padding: 50px 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.boxProgramacion{
  width: 90%;
  height: auto;
  padding: 10px;
  border-radius: 12px;
  display: grid;
  grid-template-columns:  30% 30% 30%;
  grid-template-rows: auto;
  gap: 10px;
}

.dateProhram{
  border: 2px solid var(--white);
  background-color: var(--bgNav);
  border-radius: 12px;
}
.titleEvent{
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--white);
  background-color: var(--bgNav);
  border-radius: 12px 12px 0 0;
}
.moreInfoEvent{
  width: 100%;
  height: auto;
}
.boxImgInfo{
  width: 100%;
  height: 200px;
}
.boxImgInfo img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.boxInfoText{
  width: 100%;
  height: auto;
  padding: 10px;
  color: var(--white);
}